*{margin: 0; padding: 0;}

/* CORES
 * Bege: #FBF1D6 
 * Vermelho escuro: #592114
 * Moranga: #F7811D
 */

body{
	background-color: #FBF1D6;
	font-family: Georgia, "Times New Roman", serif;
	font-size: 70%;
}

#topo{
	background: #592114; 
	height: 100px;
	border-bottom: 5px solid #F7811D;
}

#titulo{
	color: white;
	font-size: 32px ;
	width: 200px;
	float:left;
}

.titulos, a{
	color:#FA8C37;
	padding-bottom: 20px;

}

#direita .titulos{
	text-decoration: underline;
}

.texto{
	color: #B8AA96;
	font-weight: bold;
	padding-bottom: 23px;
}

.comentarios a{
	color: #545454;
	font-weight: bold;
}

#subtitulo{
	color: white;
	font-style: italic;
	float:left;
	font-size: 13px;
	margin-top: 18px;	
}

#titulo, #subtitulo {
	color: #FCF2D9;
	/*text-transform: lowercase;*/
}

#topo_conteudo
{
	width:950px;
	margin-left:auto;
	margin-right: auto;
	padding-top: 30px;
}

#esquerda {
	float: left;
	padding:0px;
	width:280px;
}

.menu{
	list-style:none;
	margin-bottom: 23px;
}

ul.menu li a {
	color: #B8AA96;
	font-weight: bold;
	text-decoration: none;
}

ul.menu li {
	border-bottom: 1px dashed #B8AA96;
}

#direita{
	float: right;
	width:617px;
	margin-top:29px;
	padding-right: 29px;
}

#rodape{
	clear: both;
	background:#542015 ;
	border-top: 5px solid #F7811D;
	color: #F7811D;
	padding: 20px;
}

#geral{
	width:950px;
	margin-left: auto;
	margin-right: auto;
}

#box-busca{
	padding:32px;
	background: #F7811D;
	border-bottom: 5px solid white;
}

.botao{
	background: #FFE93B;
	color: orange;
	font-weight:bold;
	border:none;
	height: 22px;
	width: 55px;
	padding-bottom: 2px;
	margin-left: 5px;
}

.caixa{
	border: none;
	height: 22px;
	width: 150px;
}

p{
	text-align: justify;
	margin-bottom: 20px;
	line-height: 22px;	
}

#conteudo_esquerda{
	padding:29px;
	line-height: 32px;
}

#destaque{
	padding: 8px;
	background: white;
	margin-bottom: 20px;
}

#fotoMenor{
	background: white;
	padding: 8px; 
	text-align: center;
}

#fotoMenor img{
	border: 5px solid #E6D9B7;
	margin-right: 11px;
}

#fotoMenor .ultimafoto {
	margin-right: 0px;
}

